@keyframes revealCard {
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
    from {
        transform: translateY(100%);
        opacity: 0;
    }
}

.welcome-notes {
    display: grid;
    grid-template-columns: auto auto;
    padding: 3%;
}

.principal {
    width: 100%;
    margin-right: 2%;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    animation: revealCard 1s ease-in forwards;
}

.department {
    width: 100%;
    margin-left: 2%;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    animation: revealCard 2s ease-in forwards;
}

.department .card-img img {
    width: 100%;
    height: 100%;
}

.leadership {
    background-color: #0d4877;
    margin: 1% 0;
}

.leadership-data {
    width: 30%;
    height: auto;
    border: 2px solid white;
    display: flex;
    flex-direction: column;

}

.designation {
    background-color: white;
    color: #0d4877;
}

.name-img {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.leadership-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

.name {
    font-size: 150%;
    font-weight: bold;
    color: white;
    display: flex;
    justify-items: flex-start;
}

.programs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.individual-program {
    border-bottom: 1px solid black;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(250, 250, 48, 0.5);
}

.heading {
    background-color: #0d4877;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.main-events {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@keyframes revealText {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }
}

.important {
    font-weight: bold;
    animation: revealText 2s infinite;
}