.header {
    width: 100%;
    top: 0;
}
.navbar {
    background-color: #0d4877 !important;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: black !important;
}

.dropdown-menu {
    background-color: #0d4877;
}

.dropdown-item:hover {
    opacity: 0.4;
    font-weight: bold;
}

.active {
    color: #0d4877(250, 250, 48, 0.825) !important;
    font-weight: bold;
    text-decoration: underline;
}

