.top-title {
    background-image: url("../assets/Images/favicon_io/IMG_0907.jpg");
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.societies-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    margin: 5% 20%;
}

.society {
    margin: 2%;
}

.background-opacity {
    background-color: rgb(138, 205, 205);
    opacity: 0.5;
    width: 98%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events {
    margin-left: 310px;
}