.button-styling {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #0d4877;
    color: white;
    font-weight: bold;
}

.top-heading {
    color: #0d4877;
    background-color: rgb(0, 0, 0, 0.1);
    text-align: center;
}

.individual-letter {
    border-right: 4px solid #000;
    font-size: 200%;
}





